<%= simple_form_for(@yeet) do | f | %>
<%= f.error_notification %>
<div class="field">
  <div class="control">
    <%= f.input :yeet, label: "Compose your Yeet:", input_html:{class: "textarea"}, wrapper: false, label_html:{class:"label"}, placeholder:"Ready, set, YEET!" %>
  </div>
</div>
<%= f.button :submit, class:"button is-info" %>
<% end %>