<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a href="" class="panel-block">
			#Science
		</a>
		<a href="" class="panel-block">
			#Technology
		</a>
		<a href="" class="panel-block">
			#Math
		</a>
		<a href="" class="panel-block">
			#Cemistry
		</a>
		<a href="" class="panel-block">
			#Neuropharmacology 
		</a>
		<a href="" class="panel-block">
			#Rocketry
		</a>
		<a href="" class="panel-block">
			#Philosphy
		</a>
		<a href="" class="panel-block">
			#Guns
		</a>
		<a href="" class="panel-block">
			#Coding
		</a>
		<a href="" class="panel-block">
			#Movies
		</a>
		<a href="" class="panel-block">
			#TV_Shows
		</a>
	</nav>
</div>