<div class="column">
	<nav class="panel">
		<p class="panel-heading">Who To Follow</p>
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://static.wixstatic.com/media/25a91f_1aee557b168445b7804e7762db90c4be~mv2.jpg/v1/fill/w_360,h_360,al_c,q_80,usm_0.66_1.00_0.01/Screenshot_20190531-095702__01.webp" alt="profile photo">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<P>
						<strong>Cole Kraten</strong>
						<small>@colonel_panic</small>
					</P>
				</div>
			</div>
		</article>
	</div>
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://yt3.ggpht.com/ytc/AAUvwnigGF11o8qf507nm0LddzIHq2gZMH-23kX6Es8tXw=s900-c-k-c0x00ffffff-no-rj" alt="profile photo">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<P>
						<strong>Ian Kochinski</strong>
						<small>@Vaush</small>
					</P>
				</div>
			</div>
		</article>
	</div>
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://obamawhitehouse.archives.gov/sites/obamawhitehouse.archives.gov/files/styles/person_large_photo/public/person-photo/vice-president-biden.jpg?itok=VaOgrnO3" alt="profile photo">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<P>
						<strong>Joe Biden</strong>
						<small>@daddy_USA</small>
					</P>
				</div>
			</div>
		</article>
	</div>
	</nav>
</div>